<form [formGroup]="generatorFormGroup" (ngSubmit)="generate()">
  <div class="line-item">
    <div class="title">
      <h3>Critères de génération :</h3>
      <p class="hint">
        Veuillez saisir le nombre de personnes à générer <br /> ainsi que le choix du
        genre.
      </p>
    </div>
    <mat-form-field class="count">
      <input
              matInput
              type="number"
              placeholder="Nombre"
              formControlName="count" />
      <mat-error *ngIf="count.invalid"
      >Erreur : le nombre pour la génération doit être compris entre 1 et 1000
        et non vide</mat-error
      >
    </mat-form-field>
  </div>

  <div class="line-item">
    <div class="gender" [formGroup]="gender">
      <mat-checkbox class="gender-type" formControlName="male">Homme</mat-checkbox>
      <mat-checkbox class="gender-type" formControlName="female">Femme</mat-checkbox>
      <mat-error *ngIf="gender.invalid"
      >Erreur : le genre doit être selectionné</mat-error
      >
    </div>
    <div class="actions">
      <button
        mat-raised-button
        type="submit"
        [disabled]="generatorFormGroup.invalid">
        Générer
      </button>
    </div>
  </div>
</form>
