/*
form {
  display: flex;
  flex-direction: row;
  justify-content: center;

  div,
  mat-form-field {
    flex: 1;
    align-items: center;

    display: flex;
    justify-content: center;
  }

  .title {
    flex-direction: column;

    div {
      font-style: italic;
      font-size: 0.7em;
    }
  }

  .count {
    flex: 1;
  }

  .gender {
    display: flex;
    justify-content: center;

    mat-checkbox {
      width: 150px;
    }
  }

  .actions {
  }
}
*/

:host {
  display: block;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

h3 {
  margin: 0;
}

.count {
  margin-left: 35px;
  align-self: flex-end;
}

.line-item {
  margin: 15px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gender {
  margin: 0 15px;
  width: 60%;
  display: flex;
  &-type {
    margin: 0 15px;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
  .count {
    margin-left: 0;
  }
  .line-item {
    width: 100%;
    justify-content: center;
  }
  .line-item:nth-child(2) {
    margin: 0;
    flex-direction: column;
  }
  .actions {
    margin: 15px 0;
  }
}