:host {
  display: block;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

h3 {
  margin: 0;
}

.count {
  margin-left: 35px;
  align-self: flex-end;
}

.line-item {
  margin: 15px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.gender {
  margin: 0 15px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  &-type {
    margin: 0 15px;
  }
}

.autocomplete-filter {
  margin: 0 15px;
  align-self: flex-end;
}

@media only screen and (max-width: 978px) {
  form {
    justify-content: center;
    flex-direction: column;
  }
  .title {
    text-align: center;
  }
  .count {
    margin-left: 0;
    align-self: center;
  }

  .autocomplete-filter {
    align-self: center;
  }

  .line-item {
    flex-direction: column;
  }

  .actions {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
  .count {
    margin-left: 0;
  }
  .line-item {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .line-item:nth-child(2) {
    margin: 0;
  }
  .actions {
    margin: 15px 0;
  }

  .count,
  .autocomplete-filter {
    align-self: center;
  }
}
