:host {
  display: block;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

h3 {
  margin: 0;
}

.count {
  align-self: flex-end;
}

.line-item {
  margin: 15px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.gender {
  margin: 0 15px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  position: relative;
  &-type {
    margin: 5px 15px;
  }
}

.autocomplete-filter {
  margin: 0 15px;
  align-self: flex-end;
}

.block {
  display: flex;
  flex-direction: column;
}

.actions {
  margin-bottom: 15px;
  align-self: flex-end;
  position: absolute;
  right: 35px;
}

@media only screen and (max-width: 978px) {
  form {
    justify-content: center;
    flex-direction: column;
  }
  .title {
    text-align: center;
  }
  .count {
    margin-left: 0;
    align-self: center;
  }

  .autocomplete-filter {
    align-self: center;
  }

  .line-item {
    margin: 0;
    flex-direction: column;
  }

  .actions {
    margin: 15px 0;
    position: inherit;
    right: auto;
  }

  .count,
  .gender,
  .actions,
  .autocomplete-filter {
    align-self: center;
  }

  .block {
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
  .count {
    margin-left: 0;
  }
  .line-item {
    margin: 0;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  .line-item:nth-child(2) {
    margin: 0;
  }
  .actions {
    margin: 15px 0;
    position: inherit;
    right: auto;
  }

  .count,
  .gender,
  .actions,
  .autocomplete-filter {
    align-self: center;
  }

  .block {
    align-items: center;
  }
}
